.container {
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../assets//world.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.searchBox {
    margin-top: 20px;
}
.title {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    line-height: 130%;
    margin-bottom: 0;
}
.formWrap {
    display: flex;
    width: 95%;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%), 0 1px 6px 0 rgb(0 0 0 / 12%);
    margin-top: 10px;
}
.button {
    width: 100px;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(80, 223, 199);
    color: #fff;
}
.dataWrap {
    margin-top: 2rem;
    display: flex;
}
.mapContainer {
    height: 35rem;
    width: 60rem;
    margin-top: 2rem;
}
.chartContainer {
    width: 500px;
    height: 20rem;

    z-index: 20;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #797979;
    padding-bottom: 15px;
}
.toggleBtn {
    border: 1px solid #707070;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
}
