body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', NotoColorEmoji, 'Segoe UI Symbol', 'Android Emoji',
        EmojiSymbols;
}
